# Add True HA
applications:
  keystone:
    options:
      vip: {{ AMULET_OS_VIP00 }}
  hacluster:
    charm: cs:~openstack-charmers-next/hacluster
    num_units: 0
relations:
- - keystone
  - hacluster
